@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  font-family: "游ゴシック", "Yu Gothic", "游ゴシック体", sans-serif;
  font-size: 1.6rem;
}
.yu-mincho {
  font-family: '游明朝','Yu Mincho',YuMincho,'Hiragino Mincho Pro',serif;
}
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
}
header,main,footer {
  width: 1080px;
  margin: 0 auto;
  max-width: 95%;
}
@media (max-width: 767px) {
  header,main,footer {
    max-width: 100%;
  }
  .pc-none {
    display: none;
  }
}
@media (min-width: 768px) {
  .sp-none {
    display: none;
  }
}
.blue-text {
  color: #02029e;
}
.narrow-marker {
  background:linear-gradient(transparent 60%, #ffd700 60%);
}

/* アニメーション */
.scroll-up {
  opacity: 0;
  transform : translate(0, 50px);
  transition : all 1500ms;
}
.scroll-up.scrollin{
  opacity: 1;
  transform: translate(0, 0);
}

/* グーグルマップ */
.iframe-wrap {
  position: relative;
  width: 100%;
  padding-top: 50%;
}
.iframe-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* ヘッダー */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 90px;
}
header div {
  display: flex;
  align-items: center;
}
header h5 {
  margin-left: 15px;
}
.header-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background-color: #e66300;
  border-radius: 100vh;
  transition: 0.2s;
}
h1:hover {
  opacity: 0.8;
}
.header-btn:hover {
  opacity: 0.8;
}
header .arrow {
  position: relative;
  padding-right: 10px;
}
header .arrow::after { 
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -10px;
  width: 8px;
  height: 8px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  header {
    height: 50px;
    max-width: 95%;
  }
  header div {
    display: block;
  }
  h1 img {
    width: 90px;
    margin-bottom: 3px;
  }
  header h5 {
    margin-left: 0px;
    font-size: 12px;
  }
  .header-btn {
    padding: 10px 15px;
    font-size: 12px;
  }
  header .arrow::after { 
    right: -3px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
  }
}

/* メインビジュアル */
.mv {
  background-image: url("../image/mv_pc.jpg");
  height: 480px;
  position: relative;
}
.main-visual .wrapper {
  position: absolute;
  top: 50%;
  left: 6%;
  transform: translateY(-50%);
}
.main-visual h2 {
  margin-bottom: 40px;
  font-size: 60px;
  letter-spacing: 0.23em;
  line-height: 1.2em;
  color: #fff;
}
.dots span {
  position: relative;
  color: #ffd700;
}
.dots span::before {
  content: "・";
  position: absolute;
  top: -1.3em;
  font-size: 40px;
  left: 10px;
}
.main-visual h4 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #fff;
}
@media (max-width: 767px) {
  .mv {
    background-image: url("../image/mv_sp.jpg");
    background-size: cover;
    height: 240px;
  }
  .main-visual .wrapper {
    text-align: center;
    left: 0;
    right: 0;
  }
  .main-visual h2 {
    margin-bottom: 10px;
    font-size: 34px;
  }
  .main-visual h4 {
    margin-bottom: 15px;
    font-size: 16px;
  }
  .dots span::before {
    top: -0.9em;
    font-size: 30px;
    left: 2px;
  }
  .main-visual img {
    width: 117px;
  }
}

/* セールスポイント */
.selling-point {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 205px;
}
.selling-point li {
  display: inline-block;
  position: relative;
  padding: 0px 3%;
}
.selling-point li:before {
  content: '';
  position: absolute;
  right: 100%;
  bottom: 17px;
  display: inline-block;
  width: 1px;
  height: 97px;
  background-color: #d9dadc;
}
.selling-point li:first-child:before {
  display: none;
}
.selling-point img {
  width: 56px;
  margin-bottom: 8px;
}
.selling-point p {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.6em;
  color: #222;
}
mark {
  background-color: #ffd700;
  padding: 2px;
}
@media (max-width: 1130px) {
  .selling-point p {
    font-size: 1.9vw;
  }
}
@media (max-width: 767px) {
  .selling-point {
    height: 280px;
    padding: 20px 0;
    flex-wrap: wrap;
  }
  .selling-point li {
    padding: 0px 3%;
  }
  .selling-point li:before {
    display: none;
  }
  .selling-point li:first-child:before {
    display: none;
  }
  .selling-point img {
    width: 40px;
    margin-bottom: 3px;
  }
  .selling-point p {
    font-size: 16px;
    line-height: 1.5em;
  }
}

/* カウンセリング */
.counseling {
  margin: 0 auto;
  margin-bottom: 70px;
  padding: 50px;
  text-align: center;
  max-width: 1050px;
  background-color: #f5deb3;
}

/* カウンセリング 小見出し */
.counseling h4 {
  position: relative;
  display: inline-block;
  margin-bottom: 45px;
  font-size: 30px;
  font-weight: bold;
  color: #e66300;
}
.counseling h4::before {
  content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 44px;
	height: 2px;
	background-color: #e66300;
	transform: rotate(60deg);
  left: -6%;
}
.counseling h4::after {
  content: '';
	position: absolute;
	top: 50%;
	display: inline-block;
	width: 44px;
	height: 2px;
	background-color: #e66300;
	transform: rotate(-60deg);
  right: -6%;
}
@media (max-width: 767px) {
  .counseling {
    padding: 30px 5px;
    margin-bottom: 40px;
  }
  .counseling h4 {
    font-size: 18px;
    line-height: 1.2em;
    margin-bottom: 20px;
  }
  .counseling h4::before {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #e66300;
    transform: rotate(70deg);
    left: -12%;
  }
  .counseling h4::after {
    content: '';
    position: absolute;
    top: 50%;
    display: inline-block;
    width: 50px;
    height: 2px;
    background-color: #e66300;
    transform: rotate(-70deg);
    right: -12%;
  }
  .counseling .line-break {
    display: block;
  }
}

/* カウンセリング 小タイトル */
.counseling h3 {
  position: relative;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}
.counseling div h3:last-child {
  margin-bottom: 35px;
}
.small-text {
  font-size: 0.7em;
}
.triangle {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  margin: 0 -30px 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 15px solid #e66300;
}
@media (max-width: 767px) {
  .counseling h3 {
    margin-bottom: 10px;
    font-size: 23px;
  }
  .counseling div h3:last-child {
    display: inline-block;
    margin-bottom: 30px;
    text-align: left;
  }
  .small-text {
    font-size: 0.7em;
  }
  .triangle {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    margin: 0 -13px 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 10px solid #e66300;
  }
}

/* カウンセリング ボタン */
.counseling-btn {
  display: inline-block;
  padding: 30px 80px;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
  background-color: #e66300;
  border-bottom: 10px solid #ba5000;
  border-radius: 50px;
  transition: 0.2s;
}
.counseling-btn:hover {
  margin-top: 5px;
  border-bottom: 5px solid #ba5000;
}
.counseling .arrow {
  position: relative;
  padding-right: 10px;
}
.counseling .arrow::after { 
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -50px;
  width: 18px;
  height: 18px;
  border-top: 3px solid #fff;
  border-right: 3px solid #fff;
  transform: rotate(45deg);
}
@media (max-width: 767px) {
  .counseling-btn {
    padding: 20px 35px;
    font-size: 26px;
  }
  .counseling .arrow {
    position: relative;
    padding-right: 10px;
  }
  .counseling .arrow::after { 
    right: -16px;
    width: 13px;
    height: 13px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
  }
}

/* 5つの特徴 タイトル */
/* 01 AGAクリニック独自の“AGA発毛医療” */
.feature-title {
  text-align: center;
}
.feature-title h3 {
  margin-bottom: 40px;
  font-size: 5.6rem;
  letter-spacing: 0.2em;
}
.feature-title h4 {
  margin-bottom: 10px;
  font-size: 8.0rem;
  color: #ccc;
}
.feature-title h5 {
  margin-bottom: 35px;
  font-size: 3.6rem;
}
.feature-title h5 span {
  font-size: 0.6em;
}
.bold {
  font-weight: bold;
}
@media (max-width: 767px) {
  .feature-title h3 {
    margin-bottom: 15px;
    font-size: 3.5rem;
  }
  .feature-title h4 {
    margin-bottom: 5px;
    font-size: 4.2rem;
  }
  .feature-title h5 {
    margin-bottom: 15px;
    font-size: 2.5rem;
  }
  .bold {
    display: inline-block;
    margin-top: 5px;
    padding: 0px;
  }
}

/* 表 AGAクリニックの発毛治療 */
.main-table {
  margin: 0 auto;
  margin-bottom: 25px;
  border-spacing: 4px 4px;
  border-collapse: separate;
}
.main-table caption {
  margin: 4px 4px 0;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  font-size: 2.4rem;
  color: #fff;
  background-color: #00b0e0;
}
.main-table tbody {
  text-align: left;
}
.main-table th {
  vertical-align: middle;
  width: 250px;
  padding: 0 20px;
  font-size: 20px;
  background-color: #ddd;
}
.main-table td {
  vertical-align: middle;
  width: 586px;
  padding: 25px;
  font-size: 14px;
  line-height: 1.4em;
  background-color: #eee;
}
@media (max-width: 767px) {
  .main-table {
    max-width: 95%;
    margin-bottom: 15px;
    border-spacing: 3px 3px;
  }
  .main-table caption {
    margin: 3px 3px 0;
    padding: 10px;
    font-size: 1.9rem;
  }
  .main-table th {
    vertical-align: middle;
    width: 250px;
    padding: 0 10px;
    font-size: 14px;
  }
  .main-table td {
    vertical-align: middle;
    width: 586px;
    padding: 13px;
    font-size: 11px;
    line-height: 1.4em;
  }
}

/* 02 治療費は月々最大で35,200円（税込） */
#price .outer {
  text-align: center;
}
#price .outer h5 {
  display: inline-block;
  padding: 8px 40px;
  font-size: 3.6rem;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #00b0e0;
}
#price h6.pc-none {
  font-size: 19px;
  color: #00b0e0;
}
#price .outer h4 {
  margin: 25px 0;
  font-size: 12.6rem;
  color: #00b0e0;
}
#price .line-break {
  display: block;
}
#price .outer h4 .small-text {
  font-size: 0.6em;
  letter-spacing: 0.1em;
}
#price div {
  text-align: center;
}
#price p {
  display: inline-block;
  text-align: left;
  margin: 0 auto 40px;
  font-size: 2.2rem;
  line-height: 1.6em;
}
@media (min-width: 768px) {
  #price .outer {
    display: flex;
    justify-content: center;
  }
  #price .outer h5 {
    margin-bottom: 10px;
  }
  #price .outer div {
    position: relative;
    width: 50%;
  }
  .price-center {
    position: absolute;
    top: 165px;
    left: 0;
    right: 0;
  }
}
@media (max-width: 767px) {
  #price .outer h5 {
    display: inline-block;
    padding: 5px 20px;
    font-size: 2.4rem;
    letter-spacing: 0.1em;
    font-weight: bold;
    border-radius: 5px;
  }
  #price .outer h4 {
    margin: 10px 0;
    font-size: 3.0rem;
  }
  #price .line-break {
    display: inline;
  }
  #price .outer h4 .small-text {
    font-size: 0.6em;
    letter-spacing: 0.1em;
  }
  #price .outer h6.sp-none {
    display: inline-block;
    margin-bottom: 18px;
    padding: 2px 4px;
    font-size: 1.5rem;
    color: #00b0e0;
    border: 1px solid #00b0e0;
  }
  #price p {
    margin: 0 auto 20px;
    max-width: 77%;
    font-size: 1.1rem;
  }
}

/* 03 各分野の医師が連携 */
#doctor {
  width: 90%;
  margin: 0 auto;
}
#doctor h4 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 28px;
}
#doctor .outer {
  display: flex;
  justify-content: space-between;
}
#doctor .inner {
  text-align: center;
  width: calc(100% / 3 - 15px);
  margin-bottom: 40px;
  padding: 30px 20px;
  background-color: #f0f8ff;
}
#doctor img {
  margin-bottom: 10px;
}
#doctor h6 {
  margin-bottom: 20px;
  font-size: 1.6rem;
  line-height: 2.0em;
}
#doctor span.line-brake {
  display: block;
}
#doctor p {
  text-align: left;
  font-size: 1.4rem;
  line-height: 1.4em;
}
#doctor .inner p:last-child {
  font-size: 1.1rem;
  line-height: 1.6em;
}
@media (max-width: 767px) {
  #doctor h4 {
    margin-bottom: 20px;
    font-size: 1.9rem;
  }
  #doctor .outer {
    display: block;
  }
  #doctor .inner {
    display: flex;
    text-align: left;
    width: 100%;
    padding: 10px 10px;
    margin-bottom: 15px;
    background-color: #f0f8ff;
  }
  #doctor img {
    margin-bottom: 10px;
    margin-right: 20px;
    width: 70px;
    height: 70px;
  }
  #doctor h6 {
    margin-bottom: 8px;
    font-size: 1.5rem;
    line-height: 2.0em;
  }
  #doctor span.line-brake {
    display: inline;
  }
  #doctor p {
    text-align: left;
    font-size: 1.1rem;
    line-height: 1.4em;
  }
  #doctor .inner p:last-child {
    font-size: 1.1rem;
    line-height: 1.6em;
  }
}

/* 04 主要駅から徒歩5分以内週末診療可 */
#station p {
  text-align: center;
  font-size: 2.4rem;
  line-height: 1.5em;
}
#station p:last-of-type {
  margin-bottom: 40px;
}
#station span.line-brake {
  display: block;
}
.iframe-wrap {
  margin: 0 0 40px;
}
address {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 40px;
}
#station table {
  text-align: center;
  table-layout: fixed;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  margin: 0 auto 40px;
  font-size: 2.4rem;
  width: 563px;
  line-height: 4.4rem;
}
#station table tr:not(:first-of-type) {
  border-bottom: 3px solid;
}
#station table th {
  background-color: #00b0e0;
}
#station table th span {
  color: #ff0000;
}
@media (max-width: 767px) {
  #station p {
    margin: 0 auto;
    max-width: 92%;
    text-align: left;
    font-size: 1.2rem;
    line-height: 1.5em;
  }
  #station p:last-of-type {
    margin-bottom: 15px;
  }
  #station span.line-brake {
    display: inline;
  }
  .iframe-wrap {
    margin: 0 auto 15px;
    width: 92%;
  }
  address {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
  #station table {
    margin-bottom: 20px;
    font-size: 1.2rem;
    width: 283px;
    line-height: 2.2rem;
  }
  #station table tr:not(:first-of-type) {
    border-bottom: 2px solid;
  }
  #station table th {
    background-color: #00b0e0;
  }
  #station table th span {
    color: #ff0000;
  }
}

/* 05 プライバシーを守る設備環境 */
#privacy {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
#privacy p {
  width: 325px;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 2.4rem;
  line-height: 1.5em;
}
@media (max-width: 767px) {
  #privacy {
    display: block;
    text-align: center;
    margin: 0 auto 30px; 
  }
  #privacy img {
    width: 92%;
    margin-bottom: 10px;
  }
  #privacy p {
    display: inline-block;
    width: 266px;
    margin-left: 0;
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 1.2em;
  }
}

/* AGAとは？ */
#aga {
  text-align: center;
  padding: 70px 0 30px;
  background-color: #f3fcff;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  margin-bottom: 60px;
}
#aga .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#aga h4 {
  display: inline-block;
  font-size: 4.0rem;
  color: #fff;
}
#aga h5 {
  position: absolute;
  font-size: 4.0rem;
  line-height: 1.3em;
  top: 50%;
  right: -15px;
  left: 0;
  transform: translateY(-50%);
}
.menu-ber {
  display: flex;
  align-items: center;
  width: 481px;
  padding: 10px 20px 10px 10px;
  background-color: #d3d3d3;
}
.number {
  width: 60px;
  height: 60px;
  font-size: 4.2rem;
  line-height: 59px;
  margin-right: 18px;
  border-radius: 50%;
  color: #d3d3d3;
  background-color: #fff;
}
#aga .acd-label {
  position: relative;
  top: -60px;
  left: 424px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #00b0e0;
}
#aga .acd-label span,
#aga .acd-label span:before,
#aga .acd-label span:after {
  content: "";
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #ffffff;
  position: absolute;
}
#aga .acd-label span:before {
  transform: rotate(90deg);
}
#acd1,#acd2 {
  display: none;
}
.acd-content {
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
#acd1:checked + .acd-label + .acd-content,
#acd2:checked + .acd-label + .acd-content
 {
  position: relative;
  top: -30px;
  width: 481px;
  height: 235px;
  border: 1px solid #000;
  background-color: #fff;
  border-radius: 10px;
  opacity: 1;
  visibility: visible;
}
#aga .acd-content span {
  color: #84ccc9;
}

@media (max-width: 767px) {
  #aga {
    padding: 30px 0 10px;
    margin-bottom: 30px;
  }
  #aga .wrapper {
    display: inline-block;
  }
  #aga h4 {
    font-size: 2.4rem;
  }
  #aga h5 {
    font-size: 2.4rem;;
    line-height: 1.3em;
    top: 50%;
    right: -15px;
  }
  .menu-ber {
    width: 282px;
  }
  .number {
    width: 35px;
    height: 35px;
    font-size: 2.4rem;
    line-height: 37px;
  }
  #aga .acd-label {
    position: relative;
    top: -41px;
    left: 248px;
    display: flex;
    height: 25px;
    width: 25px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #00b0e0;
  }
  #aga .acd-label span,
  #aga .acd-label span:before,
  #aga .acd-label span:after {
    content: "";
    height: 1px;
    width: 15px;
  }
  #aga .acd-label span:before {
    transform: rotate(90deg);
  }
  #acd1,#acd2 {
    display: none;
  }
  .acd-content {
    position: relative;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  #acd1:checked + .acd-label + .acd-content,
  #acd2:checked + .acd-label + .acd-content {
    top: -15px;
    width: 282px;
    height: 115px;
  }
}

/* 大タイトル */
.title {
  margin-bottom: 60px;
  font-size: 5.6rem;
  line-height: 1.2em;
  letter-spacing: 0.2em;
  text-align: center;
}
.title:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  margin: 20px 0;
  width: 140px;
  height: 5px;
  background-color: #666;
}
@media (max-width: 767px) {
  .title {
    margin-bottom: 40px;
    font-size: 3.5rem;
    letter-spacing: 0.2em;
  }
  .title:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    margin: 10px 0;
    width: 80px;
    height: 5px;
    background-color: #666;
  }
}

/* 一人ひとりの症状に合わせた多角的な治療 */
#hitori {
  margin-bottom: 70px;
}
#hitori span.line-brake {
  display: inline-block;
}
@media (max-width: 767px) {
  #hitori {
    margin-bottom: 30px;
  }
}

/* 症例写真 */
#photo {
  text-align: center;
  padding: 70px 0;
  background-color: #f3fcff;
  margin-right: calc(50% - 50vw);
  margin-left: calc(50% - 50vw);
  padding-right: calc(50vw - 50%);
  padding-left: calc(50vw - 50%);
  margin-bottom: 60px;
}
#photo .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 95%;
  margin: 0 auto;
}
#photo p {
  font-size: 18px;
  margin: 0 0 15px;
}
#photo img {
  width: 100%;
}
#photo .outer {
  position: relative;
  display: flex;
}
#photo .outer:first-child {
  margin-bottom: 35px;
}
#photo .outer .inner:last-of-type {
  margin-left: 30px;
}
.line {
  position: absolute;
  top: 55%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  border-bottom: 2px solid #666;
  width: 47px;
}
@media (max-width: 767px) {
  #photo {
    padding: 40px 0;
    margin: -40px 0 40px;
  }
  #photo .wrapper .outer:nth-child(n+3) {
    display: none;
  }
}

/* Q&A */
#qa {
  margin-bottom: 80px;
}
#qa h6 {
  font-size: 2.4rem;
  line-height: 1.5em;
  color: #f19149;
}
#qa .bar {
  position: relative;
  margin: 7px 0 0;
  padding: 10px 0 0;
  border-top: 1px solid;
}
#qa p {
  font-size: 2.3rem;
  line-height: 1.5em;
  margin-bottom: 40px;
}
#qa .wrapper {
  max-width: 717px;
  margin: 0 auto 20px;
}
#qa .acd-label {
  position: absolute;
  top: -40px;
  right: 0;
  display: flex;
  height: 28px;
  width: 28px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: #f19149;
}
#qa .acd-label span,
#qa .acd-label span:before,
#qa .acd-label span:after {
  content: "";
  display: block;
  height: 1px;
  width: 18px;
  background-color: #ffffff;
  position: absolute;
}
#qa .acd-label span:before {
  transform: rotate(90deg);
}
#qa-acd1,#qa-acd2,#qa-acd3,#qa-acd4,#qa-acd5,#qa-acd6,#qa-acd7 {
  display: none;
}
#qa .acd-content {
  position: relative;
  height: 0;
  opacity: 0;
  visibility: hidden;
}
#qa-acd1:checked + .acd-label + .acd-content,
#qa-acd2:checked + .acd-label + .acd-content,
#qa-acd3:checked + .acd-label + .acd-content,
#qa-acd4:checked + .acd-label + .acd-content,
#qa-acd5:checked + .acd-label + .acd-content,
#qa-acd6:checked + .acd-label + .acd-content,
#qa-acd7:checked + .acd-label + .acd-content {
  position: inherit;
  opacity: 1;
  visibility: visible;
  height: 80px;
  transition: 0.5s;
}
@media (max-width: 767px) {
  #qa {
    margin-bottom: 30px;
  }
  #qa h6 {
    font-size: 1.2rem;
    line-height: 1.5em;
    color: #f19149;
  }
  #qa .bar {
    position: relative;
    margin: 7px 0 0;
    padding: 10px 0 0;
    border-top: 1px solid;
  }
  #qa p {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin-bottom: 40px;
  }
  #qa .wrapper {
    width: 95%;
    margin: 0 auto 20px;
  }
  #qa .acd-label {
    top: -25px;
    height: 15px;
    width: 15px;
  }
  #qa .acd-label span,
  #qa .acd-label span:before,
  #qa .acd-label span:after {
    content: "";
    display: block;
    height: 1px;
    width: 11px;
    background-color: #ffffff;
    position: absolute;
  }
  #qa-acd1:checked + .acd-label + .acd-content,
  #qa-acd2:checked + .acd-label + .acd-content,
  #qa-acd3:checked + .acd-label + .acd-content,
  #qa-acd4:checked + .acd-label + .acd-content,
  #qa-acd5:checked + .acd-label + .acd-content,
  #qa-acd6:checked + .acd-label + .acd-content,
  #qa-acd7:checked + .acd-label + .acd-content {
    position: inherit;
    opacity: 1;
    visibility: visible;
    height: 40px;
    transition: 0.5s;
  }
}

/* フッター */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  margin-top: -65px;
}
footer img {
  width: 187px;
  margin-right: 20px;
}
footer h5 {
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}
@media (max-width: 767px) {
  footer {
    height: 60px;
    margin-top: -40px;
  }
  footer img {
    width: 97px;
    margin-right: 10px;
  }
  footer h5 {
    font-size: 1.2rem;
    letter-spacing: 0.1em;
  }
}
